.admitCard {
  width: 900px;
  position: relative;
  height: 400px; }
  .admitCard > div {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 10px 40px 10px;
    z-index: 2;
    height: 400px; }
    .admitCard > div div.titles {
      text-align: center;
      clear: both; }
    .admitCard > div > div:nth-child(2) {
      border: 0px solid red;
      float: left;
      width: 100%; }
      .admitCard > div > div:nth-child(2) div.employee_data > table {
        width: 100%;
        padding: 0px;
        border: 0px solid green; }
      .admitCard > div > div:nth-child(2) div.tablefs {
        float: left;
        width: 70%; }
        .admitCard > div > div:nth-child(2) div.tablefs tr td {
          font-size: 18px;
          font-weight: bold; }
      .admitCard > div > div:nth-child(2) .table tr td {
        padding-bottom: 10px; }
      .admitCard > div > div:nth-child(2) .table tr td:nth-child(1) {
        width: 100px; }
      .admitCard > div > div:nth-child(2) div.employee_image {
        position: relative;
        float: right;
        width: 170px;
        border: 0px solid green;
        height: 220px; }
        .admitCard > div > div:nth-child(2) div.employee_image table {
          position: absolute;
          right: 0px;
          border: 0px solid blue;
          top: 0px; }
          .admitCard > div > div:nth-child(2) div.employee_image table tr td {
            text-align: right;
            border: 0px solid black; }
            .admitCard > div > div:nth-child(2) div.employee_image table tr td img {
              border: 0px solid red;
              height: 210px;
              width: 140px;
              float: right; }
      .admitCard > div > div:nth-child(2) div.signature_div {
        width: 100%;
        float: right;
        border: 0px solid orange;
        position: relative;
        top: -20px; }
        .admitCard > div > div:nth-child(2) div.signature_div table {
          width: 100%; }
          .admitCard > div > div:nth-child(2) div.signature_div table tr td:nth-child(1) {
            width: 48%;
            border: 0px solid green;
            text-align: center; }
            .admitCard > div > div:nth-child(2) div.signature_div table tr td:nth-child(1) img.final_signature_authority {
              height: 70px;
              width: 100px;
              border: 0px solid red; }
          .admitCard > div > div:nth-child(2) div.signature_div table tr td:nth-child(2) {
            float: right;
            font-size: 17px;
            text-align: right;
            position: relative;
            bottom: -10px; }

.topleft {
  float: left; }

.topright {
  float: right; }

.fontlefttop,
.fontrighttop {
  font-family: "Times New Roman";
  font-weight: bolder;
  font-size: 24px;
  color: #27278e; }

.center-title {
  font-family: "Times New Roman";
  font-weight: bolder;
  font-size: 20px;
  color: black; }

.lower-title {
  font-family: "Times New Roman";
  font-weight: bolder;
  font-size: 16px; }

.upper-title {
  font-family: "Times New Roman";
  font-weight: bolder;
  font-size: 22px;
  color: red; }

.water-mark-text {
  font-size: 42px;
  opacity: 0.2; }

@font-face {
  font-family: 'AnmolLipi';
  src: url("fonts/anmollipi/Anmol_.ttf");
  src: url("fonts/anmollipi/Anmol_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.align-top {
  vertical-align: top; }

/*# sourceMappingURL=admitCard.css.map */
